.sidebar {
    display: none;
}

.sidebar.open {
    position: absolute;
    display: block;
}

.background {
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a.active {

}
.close {
    background: none;
    border: none;
}

.close img {
}

.active {
    text-decoration: none;
    color: #00cc22;
}

.inactive {
    text-decoration: none;
    color: royalblue;
}