
.main_container {
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 1px gray;
}

.main_container >*{
    margin: 0 0 25px 0;
}

.loader {
    /*свг и/или анимация*/
}