
.main_container {
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 1px gray;
}

.main_container >*{
    margin: 0 0 25px 0;
}

/*свг и/или анимация*/
.loader {
    width: 48px;
    height: 48px;
    border-width: 3px;
    border-style: dashed solid  solid dotted;
    border-color: royalblue royalblue transparent royalblue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 31px;
    border: 10px solid transparent;
    border-right-color: royalblue;
    transform: rotate(-40deg);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
