.main_container {
  margin: 25px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: auto;
}

.secondary_container {
  width: 250px;
}

.response_cpntainer {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 25px;
}

.tech {
  padding: 7px 0;
}

.loading {
  margin: 7px 0;
  display: inline;
}

.list {
  display: inline;
}
