.main_container {
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 1px gray;
    height: auto;
}

.secondary_container {
    width: 250px;
}

.response_cpntainer {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 25px;
}

.tech {
    padding: 7px 0;
}

.loading {
    margin: 7px 0;
    display: inline;
}

.list {
    display: inline;
}