.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    height: 300px;
    padding: 25px;

}

.inputs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

.checkboxes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}
