.main_container {
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 1px gray;
}

.item {
}

.item:last-of-type {
}

.users {
    width: 50%;
}

.buttonsContainer {
    margin: 25px 0;
    width: 50%;
    padding: 10px;
}

.buttonsContainer >* {
    margin: 10px 15px 10px 0;
}


.container {
}

.thead tr{
    background-color: #f2f2f2;
}

.nameCol {
}

.ageCol {
}

td {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
}