.button {
    width: 120px;
    height: 30px;
}

.disabled {
}

.secondary {
}

.default {
    background: #cc0000;
    color: white;
}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
